.controle{
    width:100%;
    padding:120px 8%;
}

.controle-header{
    text-align:center;
    max-width:850px;
    margin:0 auto 80px;
}

.controle-header span{
    color:#20dfff;
    font-size:14px;
    letter-spacing:3px;
    text-transform:uppercase;
}

.controle-header h1{
    color:#fff;
    font-size:56px;
    margin:20px 0;
}

.controle-header p{
    color:#bcbcbc;
    font-size:18px;
    line-height:1.8;
}

.timeline{
    position:relative;
    max-width:1200px;
    margin:auto;
}

.linha{
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    width:2px;
    height:100%;
    background:linear-gradient(#00d4ff,#006eff);
}

.card{
    width:45%;
    display:flex;
    gap:20px;
    padding:28px;

    border-radius:22px;
    background:rgba(255,255,255,.03);
    border:1px solid rgba(255,255,255,.1);
    backdrop-filter:blur(12px);

    margin:50px 0;
}

.card.left{
    margin-right:auto;
}

.card.right{
    margin-left:auto;
}

.card img{
    width:60px;
    height:60px;
    flex-shrink:0;
}

.card h2{
    color:#fff;
    margin-bottom:10px;
}

.card p{
    color:#bfbfbf;
    line-height:1.7;
}

@media(max-width:900px){

    .linha{
        display:none;
    }

    .card,
    .card.left,
    .card.right{
        width:100%;
        margin:25px 0;
    }

    .controle-header h1{
        font-size:40px;
    }

}