@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root{
    --font-primary:"Poppins",sans-serif;
    --font-secondary:"Lato",sans-serif;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
}

:root{
    --font-primary:"Poppins",sans-serif;
    --font-secondary:"Lato",sans-serif;
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6{
    font-family:var(--font-primary);
}

/* Todo o restante */
body,
p,
span,
a,
button,
input,
textarea,
select,
option,
label,
small,
strong,
em,
li,
ul,
ol,
blockquote,
figcaption,
table,
th,
td{
    font-family:var(--font-secondary);
}

button,
input,
textarea,
select{
    font-family:inherit;
}

body{
    background-color:#05070d;

    background-image:
        radial-gradient(circle at 15% 20%, rgba(0,170,255,.18), transparent 30%),
        radial-gradient(circle at 85% 15%, rgba(0,255,255,.08), transparent 28%),
        radial-gradient(circle at 50% 80%, rgba(0,110,255,.12), transparent 35%),
        linear-gradient(rgba(255,255,255,.025) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.025) 1px, transparent 1px);

    background-size:
        100% 100%,
        100% 100%,
        100% 100%,
        70px 70px,
        70px 70px;

    background-attachment:fixed;

    color:#fff;
    overflow-x:hidden;
}


body::before{
    content:"";
    position:fixed;
    inset:0;

    background:
        linear-gradient(rgba(255,255,255,.025) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.025) 1px, transparent 1px);

    background-size:70px 70px;

    pointer-events:none;
    z-index:-2;
}

body::after{
    content:"";
    position:fixed;
    inset:0;

    opacity:.03;


    pointer-events:none;
    z-index:-1;
}



p,span,button,a{
    font-family:var(--font-secondary);
}