.header{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: calc(100% - 80px);
    max-width: 1450px;

    z-index: 999999;
}

.container-header{
    width: 100%;
    height: 72px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 35px;

    border-radius: 20px;

    background: rgba(8,15,22,.78);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255,255,255,.08);

    box-shadow:
        0 0 50px rgba(0,180,255,.08),
        inset 0 0 0 1px rgba(255,255,255,.03);
}

.logo img{
    width: 130px;
}

.container-header nav{
    display:flex;
    gap:45px;
}

.container-header nav a{
    color:#d7d7d7;
    text-decoration:none;
    font-size:15px;
    font-weight:500;

    position:relative;

    transition:.35s;
}

.container-header nav a:hover{
    color:#46e3ff;
}

.container-header nav a::after{
    content:"";

    position:absolute;
    left:0;
    bottom:-8px;

    width:0;
    height:2px;

    background:#29dfff;

    transition:.35s;
}

.container-header nav a:hover::after,
.container-header nav .active::after{
    width:100%;
}

.container-header nav .active{
    color:#46e3ff;
}

.btn-header{
    padding:13px 26px;

    border:none;
    border-radius:40px;

    background:linear-gradient(90deg,#00c6ff,#0072ff);

    color:#fff;

    cursor:pointer;

    transition:.35s;
}

.btn-header:hover{
    transform:translateY(-2px);
    box-shadow:0 0 30px rgba(0,180,255,.45);
}

@media(max-width:900px){

    .container-header{
        padding:0 20px;
    }

    .container-header nav{
        gap:22px;
    }

    .btn-header{
        display:none;
    }

}

@media(max-width:700px){

    .container-header nav{
        display:none;
    }

}