.background-plasma{
    position:fixed;
    inset:0;

    width:100vw;
    height:100vh;

    z-index:-2;

    pointer-events:none;
}

.background-overlay{
    position:fixed;
    inset:0;

    background:
        radial-gradient(circle at center, rgba(0,0,0,.15), rgba(0,0,0,.75)),
        rgba(0,0,0,.45);

    z-index:-1;

    pointer-events:none;
}